body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
}

h1 {
  font-size: 60px;
  text-align: center;
  color: darkblue;
}

form {
  float: left;
  width: 20%;
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(44, 8, 102, 0.1);
  border-radius: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

table {
  float: right;
  width: 60%;
  margin: 20px;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
  border-radius: 10px;
}

th {
  background-color: darkblue;
  color: #fff;
}

tbody {
  background-color: #fff;
}

button {
  background-color: darkmagenta;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

button:hover {
  background-color: #8b008b;
}

input[type="submit"] {
  background-color: darkblue;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 10px;
}

input[type="submit"]:hover {
  background-color: #1434c4;
}
