
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0; /* Light gray background */
  color: #333; /* Dark text color */
}

h1 {
  font-size: 60px;
  text-align: center;
  color: darkblue; /* Blue heading color */
}

form {
  float: left;
  width: 30%; /* Adjust the width as needed */
  margin: 20px;
  padding: 20px;
  background-color: #fff; /* White background for the form container */
  box-shadow: 0 0 10px rgba(44, 8, 102, 0.1); /* Shadow effect */
  border-radius: 10px; /* Rounded corners */
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box; /* Include padding and border in width calculation */
}

table {
  float: right;
  width: 65%; /* Adjust the width as needed */
  margin: 20px;
  border-collapse: collapse; /* Collapse table borders */
}

th,
td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd; /* Light gray border */
  border-radius: 10px; /* Rounded corners */
}

th {
  background-color: darkblue; /* Blue header background */
  color: #fff; /* White text color */
}

tbody {
  background-color: #fff; /* White background for table body */
}

button {
  background-color: darkmagenta; /* Dark magenta background */
  color: #fff; /* White text color */
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

button:hover {
  background-color: #8b008b; /* Darker magenta on hover */
}

input[type="submit"] {
  background-color: darkblue; /* Blue submit button background */
  color: #fff; /* White text color */
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease; 
  border-radius: 10px; /* Rounded corners */
}

input[type="submit"]:hover {
  background-color: #1434c4; /* Darker blue on hover */
}
